
<main class="main">
  <div class="content">
    <div class="left-side">

Coool
    </div>
    <div class="sidebar-wrapper">
      <div class="title-content">
        <h1 class="title-wrapper">Furniture</h1>
        <button (click)="burgerMenuClick()">☰</button>
      </div>
      <nav class="sidebar-wrapper-nav" *ngIf="showMenu"> <!-- Add *ngIf here -->
        <ul>
          <li class="list-wrapper">Home</li>
          <li class="list-wrapper">Shop</li>
          <li class="list-wrapper">Product</li>
          <li class="list-wrapper">Cart</li>
        </ul>
      </nav>

      <div class="main-content-wrapper">
      </div>
    </div>
  </div>
</main>

